@page {
  size: A4;
  margin: 0;
}

@media print {
  @page { margin: 0; }
}

html, body {
  height: 297mm;
  width: 210mm;
}

body {
  margin: 0;
  padding: 0;
  width: 21cm;
  height: 29.7cm;
  font-size: 12pt;
  font-family: "Times New Roman", serif;
}

#content {
  max-width: 210mm;
  max-height: 297mm;
  margin: 5mm;
}

#name-heading {
  text-align: center;
  margin: 0;
}

#contact-and-links {
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.faint-text {
  color: lightgray;
  font-size: 10pt;
}

.contact-icon {
  width: 10pt;
  height: 10pt;
}

.contact-link {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  font-size: 10pt;
}

#skill-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.section-heading {
}

.subsection {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.subsection-org-name {
  display: inline-flex;
}

.subsection-org-location {
  display: inline-flex;
}

.time-period {
  color: darkgray;
}
